blockquote {
    border:none;
    font-family:Georgia, "Times New Roman", Times, serif;
    margin-bottom:-30px;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 0.4em;
}