<h1>My Reading List</h1>
<ul>
  <li><a target="_blank" href="https://www.elastic.co/">Elastic</a></li>
  <li><a target="_blank" href="http://joshlong.com/">The fountain head!</a></li>
  <li><a target="_blank" href="https://angularjs.org/">Make UI's Great Again!</a></li>
  <li><a target="_blank" href="https://www.instagram.com/alexhonnold/?hl=en">Scaling new heights!</a></li>
  <li><a target="_blank" href="http://www.worldometers.info/">tik-tok</a></li>
  <li><a target="_blank" href="http://onesecond.designly.com/">what just happened?</a></li>
</ul>
